.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#ffc341 0%, #ffd701 95.35%);
  border-radius: 80px;
  width: 216px;
  height: 59px;
  font-family: "Fira Sans";
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: #fff;
  padding: 0;
  margin: 0;
}

a.btn {
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%),
    linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
}
@media (max-width: 320px) {
.btn{
  width: 91.5%;
}
}